body {
	box-sizing: border-box;
	width: 100%;
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 9px 27px 27px;

	font-family: "Roboto", Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;

	background-color: #849d8f;
}

a {
	color: #ffffff;

	text-decoration: none;
}

.button {
	position: relative;

	display: inline-block;
	height: 44px;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;

	background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104 ,67) 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 25px;

	cursor: pointer;
}

.button:hover {
	box-shadow: 0 2px 2px rgb(172, 16, 0);
}

.button:active {
	background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.button:hover::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.button:active::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.07);
	border-radius: 25px;
}

[class$="form"] input,
[class$="form"] textarea {
	box-sizing: border-box;
	height: 44px;

	color: #999999;

	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

[class$="form"] input:hover,
[class$="form"] textarea:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
}

[class$="form"] input:focus,
[class$="form"] textarea:focus {
	font-weight: 700;

	border: 2px solid rgba(45, 136, 228, 0.52);
}

[class$="form"] input:focus::-webkit-input-placeholder,
[class$="form"] textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

[class$="form"] input:focus::-moz-input-placeholder,
[class$="form"] textarea:focus::-moz-input-placeholder {
	color: transparent;
}

[class$="form"] input:focus::-ms-input-placeholder,
[class$="form"] textarea:focus::-ms-input-placeholder {
	color: transparent;
}

[class$="form"] input:focus::-o-input-placeholder,
[class$="form"] textarea:focus::-o-input-placeholder {
	 color: transparent;
}

.main-header {
	display: flex;
	flex-direction: column;
}

.main-navigation {
	display: flex;
	height: 64px;
	margin-bottom: 2px;
}

.main-header-logo {
	margin-right: 25px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 351px;
	margin-top: 14px;
	margin-bottom: 18px;
	padding: 0;

	line-height: 18px;

	list-style: none;
}

.site-navigation a {
	display: inline-block;
	box-sizing: border-box;
	height: 32px;

	text-align: center;

	border-radius: 25px;
}

.site-navigation a:hover {
	color: #333333;

	background-color: rgb(247, 246, 243);
	border: 1px solid rgb(255, 255, 255);
}

.site-navigation a:active {
	color: #333333;

	background-color: rgba(248, 247, 244, 0.988);
	border: none;
	box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
	color: #ffffff;

	background-color: rgb(208, 112, 88);
	border: none;
	border-radius: 25px;
	box-shadow: none;
}

.user-navigation {
	display: flex;
	justify-content: space-between;
	width: 245px;
	margin-top: 14px;
	margin-bottom: 18px;
	margin-left: auto;
	padding: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.user-navigation a,
.search-icon {
	display: inline-block;
	box-sizing: border-box;
	height: 32px;

	text-align: center;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.user-navigation a:hover,
.search-icon:hover {
	color: #333333;

	background-color: rgb(247, 246, 243);
	border: 1px solid rgb(255, 255, 255);
}

.search-icon {
	font-size: 0;

	border-radius: 50%;

	cursor: pointer;
}

.user-navigation-form input {
	width: 311px;
}

.main-header-info {
	align-self: flex-end;
	margin: 0;

	text-align: right;
	font-size: 14px;
	line-height: 16px;
}

.main-header-info a {
	font-size: 22px;
	line-height: 24px;
}

.main-header-info a:hover,
.main-header-info a:active {
	color: #ffbc9e;
}

.breadcrumbs {
	display: flex;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0;

	list-style: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
}

.special-offers {
	font-size: 18px;
	line-height: 22px;

	margin-bottom: 41px;
}

.special-offers-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.special-offers-item {
	width: 560px;
	min-height: 229px;

	background-repeat: no-repeat;
	border-radius: 15px;
}

.special-offers-raspberry {
	background-image: url("../img/raspberry.jpg");
}

.special-offers-chocolate {
	background-image: url("../img/chocolate.jpg");
}

.special-offers-item h2 {
	font-size: 35px;
	line-height: 41px;
}

.special-offers-item .button {
	height: 46px;

	background-image: linear-gradient(90deg, rgba(231, 74, 53, 0.988) 0%, rgba(242, 104 ,67, 0.988) 100%);
	box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
}

.special-offers-item .button:hover {
	box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.special-offers-item .button:active {
	background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.container h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.filters {
	margin-bottom: 41px;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
}

.filters-wrapper {
	height: 37px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.filters fieldset {
	border: none;
}

.filters-sorting {
	margin-left: 0;
	margin-right: 15px;
	padding: 0;
}

.filters-sorting .filters-wrapper {
	width: 194px;
	color: #ffffff;
}

.filters-sorting select:hover {
	color: #323232;
}

.filters-price {
	width: 220px;
	margin-left: 0;
	margin-right: 15px;
	padding: 0;
}

.filters-fat {
	width: 415px;
	margin: 0;
	padding: 0;
}

.filters-fillers {
	width: 703px;
	margin-left: 0;
	margin-right: 16px;
	padding: 0;
}

.filters-fat-list,
.filters-fillers-list {
	display: flex;
	height: 37px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.filters-form-button {
	position: relative;

	height: 37px;

	vertical-align: middle;
	color: #ffffff;

  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;

  cursor: pointer;
}

.filters-form-button:hover {
	color: #323232;

	background-color: rgb(255, 255, 255);
}

.filters-form-button:active {
	color: #323232;

	background-color: rgb(237, 237, 237);
	border: none;
	box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.assortment {
	margin-bottom: 41px;
}

.assortment-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.assortment-item {
	width: 267px;
	height: 405px;
}

.assortment-item:hover {
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.assortment-item:hover .button {
	visibility: visible;
}

.assortment-image {
	height: 267px;
	margin: 0;
}

.assortment-image a {
	font-size: 0;
}

.assortment-image img {
	border-radius: 50%;
}

.assortment-price {
	font-size: 45px;
	line-height: 1;

	text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
	cursor: default;
}

.assortment-price span {
	font-size: 28px;
}

.assortment-title {
	margin: 0;

	cursor: default;
}

.assortment-item .button {
	visibility: hidden;
	background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104 ,67) 100%);
	box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
}

.assortment-item .button:hover {
	box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.assortment-item .button:active {
	background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.features {
	box-sizing: border-box;
	width: 1146px;
	height: 306px;
	margin-bottom: 41px;
	padding-top: 28px;
	padding-left: 23px;

	font-weight: 400;
	color: #323232;

	background-image: url("../img/wafer.jpg");
	background-position: 3.2% 3%;
	border-radius: 15px;
}

.features p {
	height: 59px;
	margin: 0;
	margin-right: 34px;
	margin-bottom: 25px;
}

.features b {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-right: 34px;
	margin-left: 55px;
	padding: 0;

	list-style: none;
}

.features-item:nth-child(1) {
	order: -2;
	width: 477px;
	margin-bottom: 26px;
}

.features-item:nth-child(2) {
	width: 477px;
}

.features-item:nth-child(3) {
	order: -1;
	width: 470px;
	margin-bottom: 26px;
}

.features-item:nth-child(4) {
	width: 470px;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination-list a {
	display: inline-block;
	width: 27px;
	height: 26px;

	text-align: center;

	border-radius: 50%;
}

.pagination-list a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active,
.pagination-item-current a {
	color: #323232;

	background-color: rgb(255, 255, 255);
}

.index-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 41px;
}

.news {
	width: 560px;
	min-height: 220px;

	font-weight: 500;
	color: #323232;

	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}

.news p {
	margin: 0;
}

.news-item {
	font-size: 24px;
	line-height: 30px;

	color: #323232;
}

.distribution {
	width: 550px;
	height: 210px;
	margin-left: auto;
	padding: 5px;

	font-weight: 400;
	color: #5a5a5a;

	background-image: url("../img/postal-background.svg");
	background-repeat: no-repeat;
	border-radius: 15px;
}

.distribution-wrapper {
	display: inline-block;
	width: 550px;
	height: 210px;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.distribution-wrapper p {
	margin: 0;
}

.distribution-form input {
	width: 368px;
}

.contacts {
	height: 735px;
}

.contacts-info {
	width: 302px;
	min-height: 305px;

	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #323232;

	background-color: #fefefe;
}

.contacts-info b {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts-info span {
	line-height: 22px;
}

.contacts-map {
	margin-left: -27px;
}

.main-footer {
	display: flex;
	margin-top: 18px;
}

.footer-social {
	margin-top: 20px;
	margin-right: 240px;
	margin-bottom: 32px;
}

.footer-social-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-info {
	width: 305px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 32px;

	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.footer-info-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-info-item:nth-child(1) {
	order: -2;
	margin-bottom: 11px;

	font-weight: 700;
}

.footer-info-item:nth-child(3) {
	order: -1;
	margin-bottom: 11px;
}

.footer-info-item a:hover,
.footer-info-item a:active {
	color: #ffbc9e;
}

.footer-copyright {
	margin-bottom: 26px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.footer-copyright > a {
	font-size: 0;
}

.footer-copyright img {
	width: 123px;
	margin-left: -5px;
}

.footer-copyright p {
	margin-top: 9px;
	margin-bottom: 0;
}

.footer-copyright p a:hover,
.footer-copyright p a:active {
	color: #ffbc9e;
}

.inner-page .main-footer {
	margin-top: 50px;
}

.modal-login-form input {
	width: 241px;
}

.modal-login-restore,
.modal-login-registrate {
	color: #323232;
}

.modal-login-restore:hover,
.modal-login-restore:active,
.modal-login-registrate:hover,
.modal-login-registrate:active {
	color: #e84d37;
}

.modal-login-form .button {
	background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104 ,67) 100%);
	box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
}

.modal-login-form .button:hover {
	box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.modal-login-form .button:active {
	background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.modal-feedback-form input {
	width: 267px;
}

.modal-feedback-form textarea {
	width: 401px;
	min-height: 132px;
}
