body {
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.site-wrapper {
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: 50% 0;

	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";

	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/chocolate-plombir-and-lemon-sorbet.png");
}

.site-wrapper::after {
	background-image: url("../img/plombir-with-fondant-and-strawberry-sherbet.png");
}

.main-wrapper {
	width: 100%;
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 9px;
}

a {
	color: #ffffff;

	text-decoration: none;
}

.button {
	position: relative;

	display: inline-block;
	padding: 10px 23px;

	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	background-image: linear-gradient(to bottom, rgb(242, 104 ,67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.button:hover,
.button:focus {
	box-shadow: 0 2px 2px rgb(172, 16, 0);
}

.button:hover::after,
.button:focus::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.button:active {
	background-image: linear-gradient(to bottom, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.button:active::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.07);
	border-radius: 25px;
}

[class$="form"] input:not([class^="filters"]),
[class$="form"] textarea {
	box-sizing: border-box;
	height: 44px;
	padding: 16px 13px 15px;

	font-weight: 700;
	line-height: 24px;
	color: #323232;

	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

[class$="form"] input:not([class^="filters"]):hover,
[class$="form"] textarea:hover {
	padding: 15px 12px 14px;

	border: 2px solid rgba(154, 154, 154, 0.52);
}

[class$="form"] input:not([class^="filters"]):focus,
[class$="form"] textarea:focus {
	padding: 15px 12px 14px;

	border: 2px solid rgba(45, 136, 228, 0.52);
}

[class$="form"] input::placeholder,
[class$="form"] textarea::placeholder {
	font-weight: 400;
	color: #999999;
}

[class$="form"] input:focus::-webkit-input-placeholder,
[class$="form"] textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

[class$="form"] input:focus::-moz-input-placeholder,
[class$="form"] textarea:focus::-moz-input-placeholder {
	color: transparent;
}

[class$="form"] input:focus::-ms-input-placeholder,
[class$="form"] textarea:focus::-ms-input-placeholder {
	color: transparent;
}

[class$="form"] input:focus::-o-input-placeholder,
[class$="form"] textarea:focus::-o-input-placeholder {
	 color: transparent;
}

.main-header {
	position: relative;

	display: flex;
	flex-direction: column;
	margin: 0 27px;
}

.inner-page .main-header {
	margin-bottom: 26px;
}

.main-navigation {
	display: flex;
}

.main-header-logo {
	margin-right: 8px;
}

.main-header-logo img {
	vertical-align: middle;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	max-width: 381px;
	margin: 14px auto 18px 0;
	padding: 0;

	line-height: 18px;

	list-style: none;
}

.site-navigation-item {
	position: relative;

	border-radius: 25px;
}

.site-navigation-item > a {
	display: block;
	padding: 7px 14px 7px 15px;

	text-align: center;

	border-radius: 25px;
}

.site-navigation-item:not(.site-navigation-current) > a:hover,
.site-navigation-item:not(.site-navigation-current) > a:focus {
	padding: 6px 13px 6px 14px;
	color: #333333;

	background-color: rgb(247, 246, 243);
	border: 1px solid rgb(255, 255, 255);
}

.site-navigation-item:not(.site-navigation-current) > a:active {
	padding: 7px 14px 7px 15px;

	color: #333333;

	background-color: rgba(248, 247, 244, 0.988);
	border: none;
	box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.site-navigation-current > a:first-child {
	background-color: rgb(208, 112, 88);
	border-color: rgb(208, 112, 88);
}

.site-navigation-item:hover::after  {
	content: "";

	position: absolute;
	top: 32px;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 15.53%;
}

.site-navigation-item:hover .catalog-list {
	display: block;
}

.site-navigation-item > a:focus + .catalog-list {
	display: block;
}

.catalog-list {
	position: absolute;
	top: 37px;
	left: -7px;
	z-index: 1;

	display: none;
	min-width: 144px;
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 14px;

	list-style: none;
	background-color: rgb(248, 247, 244);
	border-radius: 10px;
}

.catalog-item:first-child {
	font-weight: 700;
}

.catalog-item a {
	display: block;
	padding: 8.5px 21px;

	color: #323232;
}

.catalog-item:first-child a {
	padding: 14px 21px;

	border-radius: 10px 10px 0 0;
}

.catalog-item:last-child a {
	border-radius: 0 0 10px 10px;
}

.catalog-item:not(.catalog-item-current) a:hover,
.catalog-item:not(.catalog-item-current) a:focus {
	background-color: #fbded7;
}

.catalog-item:not(.catalog-item-current) a:active {
	background-color: #f6b5a5;
}

.catalog-item-current a {
	color: #ffffff;

	background-color: #d07058;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	max-width: 280px;
	margin-top: 14px;
	margin-bottom: 18px;
	padding: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.user-navigation-item {
	position: relative;

	border-radius: 25px;
}

.user-navigation-item:first-child {
	border-radius: 50%;
}

.user-navigation-item:not(:last-child) {
	margin-right: 9px;
}

.user-navigation-item > a {
	position: relative;

	display: block;
	padding: 8px 18px 8px 44px;

	text-align: center;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.user-navigation-item:first-child > a {
	min-width: 32px;
	min-height: 32px;
	padding: 0;

	font-size: 0;

	border-radius: 50%;
}

.user-navigation-item:not(:first-child) > a:hover,
.user-navigation-item:not(:first-child) > a:focus {
	padding: 7px 17px 7px 43px;

	color: #333333;

	background-color: rgb(247, 246, 243);
	border: 1px solid rgb(255, 255, 255);
}

a.user-navigation-search::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17'><path fill='%23ffffff' d='M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z'/></svg>");

	position: absolute;
	top: 50%;
	left: 50%;

	width: 17px;
	height: 17px;

	transform: translate(-50%, -50%);
}

a.user-navigation-search:hover::before,
a.user-navigation-search:focus::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17'><path fill='%23323232' d='M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z'/></svg>");
}

.user-navigation-login::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='19'><g fill='%23ffffff'><path d='M6 14.875L12.917 9.5 6 4.125v2.917H-.042v4.917H6z'/><path d='M18 0H5C3.9 0 3 .9 3 2v2h2V2h13v15H5v-2H3v2c0 1.1.9 2 2 2h13c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z'/></g></svg>");

	position: absolute;
	top: 50%;
	left: 16px;

	width: 21px;
	height: 19px;

	transform: translateY(-50%);
}

.user-navigation-login:hover::before,
.user-navigation-login:focus::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='19'><g fill='%23323232'><path d='M6 14.875L12.917 9.5 6 4.125v2.917H-.042v4.917H6z'/><path d='M18 0H5C3.9 0 3 .9 3 2v2h2V2h13v15H5v-2H3v2c0 1.1.9 2 2 2h13c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z'/></g></svg>");
}

.user-navigation-basket::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='21' height='20'><g fill='%23ffffff'><path d='M5.657 2.031L5.422 0H0v2h3.64l1.5 13h13.988l1.699-12.969H5.657zM17.372 13H6.922L5.888 4.031h12.66L17.372 13z'/><circle cx='6.984' cy='18' r='2'/><circle cx='15.984' cy='18' r='2'/></g></svg>");

	position: absolute;
	top: 50%;
	left: 16px;

	width: 21px;
	height: 19px;

	transform: translateY(-50%);
}

.user-navigation-basket:hover::before,
.user-navigation-basket:focus::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='21' height='20'><g fill='%23323232'><path d='M5.657 2.031L5.422 0H0v2h3.64l1.5 13h13.988l1.699-12.969H5.657zM17.372 13H6.922L5.888 4.031h12.66L17.372 13z'/><circle cx='6.984' cy='18' r='2'/><circle cx='15.984' cy='18' r='2'/></g></svg>");
}

.inner-page .user-navigation-basket::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='21' height='20'><path fill='%23e84d37' d='M5.888 4.031L6.922 13h10.45l1.176-8.969z'/><circle fill='%23343434' cx='6.984' cy='18' r='2'/><circle fill='%23343434' cx='15.984' cy='18' r='2'/><path fill='%23343434' d='M5.657 2.031L5.422 0H0v2h3.64l1.5 13h13.988l1.699-12.969H5.657zM17.372 13H6.922L5.888 4.031h12.66L17.372 13z'/></svg>");
}

.user-navigation-item:nth-child(1) .user-navigation-form {
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 1;

	display: none;
	width: 341px;
	padding: 21px 15px;

	background-color: #f8f7f4;
	border-radius: 10px;
}

input.user-navigation-search {
	width: 100%;
}

.user-navigation-item:nth-child(2) .user-navigation-form {
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 2;

	display: none;
	width: 241px;
	padding: 20px 17px 20px 19px;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.user-navigation-email,
.user-navigation-password {
	width: 100%;

	margin-bottom: 25px;
}

.user-navigation-wrapper {
	display: flex;
	justify-content: space-between;
}

.user-navigation-form .button {
	padding: 11px 25px;
	background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104 ,67) 100%);
}

.user-navigation-form .button:active {
	background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104 ,67) 100%);
}

.user-navigation-link {
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}

.user-navigation-restore {
	display: inline-block;
}

.user-navigation-registrate {
	display: block;
}

.user-navigation-restore,
.user-navigation-registrate {
	color: #323232;
}

.user-navigation-restore:hover,
.user-navigation-restore:focus,
.user-navigation-restore:active,
.user-navigation-registrate:hover,
.user-navigation-registrate:focus,
.user-navigation-registrate:active {
	color: #e84d37;
}

.user-navigation-cart {
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 2;

	display: none;
	width: 515px;
	padding: 21px 12px;

	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 5px;
}

.cart-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 21px 31px 9px;
	padding: 0;

	list-style: none;
}

.cart-item {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}

.cart-item:last-child {
	margin-bottom: 0;
}

.cart-delete {
	position: relative;

	width: 12px;
	height: 11px;
	margin-right: 8px;

	font-size: 0;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.cart-delete::before,
.cart-delete::after {
	content: "";

	position: absolute;
	top: 15px;
	left: -1px;

	width: 14px;
	height: 1px;

	background-color: #231f20;
	border-radius: 30%;
}

.cart-delete::before {
	transform: rotate(45deg);
}

.cart-delete::after {
	transform: rotate(-45deg);
}

.cart-image {
	margin-right: 13px;

	font-size: 0;
}

.cart-image img {
	vertical-align: middle;

	border-radius: 50%;
}

.cart-title {
	width: 216px;
	margin: 0;
	margin-top: 9px;
	margin-right: 31px;
}

.cart-unit-price {
	margin-top: 9px;
	margin-right: auto;
}

.cart-unit-price span {
	color: #999999;
}

.cart-price {
	margin-top: 9px;
}

.user-navigation-cart-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cart-total {
	font-size: 15px;
	line-height: 18px;
}

.user-navigation-cart-wrapper .button {
	margin-top: 14px;
	padding: 10px 15px;

	border-radius: 20px;
}

.user-navigation-item:hover::after {
	content: "";

	position: absolute;
	top: 32px;
	left: 0;

	width: 100%;
	height: 15.53%;
}

.user-navigation-item:hover .user-navigation-form,
.user-navigation-item:hover .user-navigation-cart {
	display: block;
}

.user-navigation-item > a:focus + .user-navigation-form,
.user-navigation-item > a:focus + .user-navigation-cart {
	display: block;
}

.main-header-info {
	position: absolute;
	top: 64px;
	right: 0;
	z-index: 1;

	margin: 0;

	text-align: right;
	font-size: 14px;
	line-height: 16px;
}

.main-header-info a {
	display: block;
	margin-top: 5px;

	font-size: 22px;
	line-height: 24px;
}

.main-header-info a:hover,
.main-header-info a:focus,
.main-header-info a:active {
	color: #ffbc9e;
}

.slider {
	position: relative;

	margin: 0 27px 41px;
	padding-top: 319px;

	text-align: center;
}

.slider-controls {
	position: absolute;
	bottom: 23px;
	left: 0;

	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: middle;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:last-child {
	margin-right: 0;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}

#product-1:checked ~ .site-wrapper {
	background-image: url("../img/crem-brulee-and-plombir-with-raspberry-jam.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/chocolate-plombir-and-lemon-sorbet.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/plombir-with-fondant-and-strawberry-sherbet.png");
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: none;
}

.slider-title {
	width: 670px;
	margin: 0 auto 31px;

	font-size: 60px;
	line-height: 60px;

	cursor: default;
}

.slider-item .button {
	padding: 10px 40px;

	vertical-align: middle;
	font-size: 32px;
	line-height: 44px;

	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	border-radius: 50px;
}

.breadcrumbs {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	margin: 0 27px 4px;
	padding: 0;

	list-style: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs-item:not(:last-child) {
	margin-right: 21px;
}

.breadcrumbs-item a {
	display: block;
}

.breadcrumbs-item:not(.breadcrumbs-current) a:hover,
.breadcrumbs-item:not(.breadcrumbs-current) a:focus,
.breadcrumbs-item:not(.breadcrumbs-current) a:active {
	color: #ffbc9e;
}

.promo {
	margin: 0 27px 40px;

	font-size: 18px;
	line-height: 22px;
}

.promo-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-item {
	display: flex;
	flex-direction: column;
	width: 521px;
	min-height: 191px;
	padding: 15px 20px 23px 19px;

	border-radius: 15px;
}

.promo-raspberry {
	background-image: url("../img/raspberry.jpg");
}

.promo-chocolate {
	background-image: url("../img/chocolate.jpg");
}

.promo-item h2 {
	margin: 0;
	margin-bottom: 15px;

	font-size: 35px;
	line-height: 41px;
}

.promo-item p {
	margin: 0;
	margin-bottom: 44px;
}

.promo-item .button {
	align-self: flex-end;
	padding: 11px 23px;

	background-image: linear-gradient(to top, rgba(231, 74, 53, 0.988) 0%, rgba(242, 104 ,67, 0.988) 100%);
	box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
}

.promo-item .button:hover,
.promo-item .button:focus {
	box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.promo-item .button:active {
	background-image: linear-gradient(to top, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.inner-page .container h1 {
	margin: 0 27px 26px;

	font-size: 35px;
	line-height: 41px;
}

.filters {
	margin: 0 27px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
}

.filters-sorting,
.filters-price,
.filters-fat,
.filters-fillers {
	margin: 0;
	margin-right: 14px;
	margin-bottom: 15px;
	padding: 0;

	border: none;
}

.filters-fillers {
	margin-bottom: 0;
}

.filters-sorting-name,
.filters-price-name,
.filters-fat-name,
.filters-fillers-name {
	margin-left: 15px;
	margin-bottom: 6px;

	font-size: 14px;
	line-height: 16px;
}

.filters-sorting-select {
	width: 194px;
	padding: 6.5px 0 6.5px 10px;
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.filters-sorting-select:hover,
.filters-sorting-select:focus {
	color: #323232;
}

.filters-sorting-option {
	color: #323232;
}

.filters-price-wrapper {
	min-width: 220px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.filters-price-range {
	display: block;
	width: 176px;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 8px;

	cursor: pointer;
}

.filters-fat-list {
	display: flex;
	margin: 0;
	padding: 9px 16px 9px 12px;

	list-style: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.filters-fat-item:not(:last-child) {
	margin-right: 17px;
}

.filters-fillers-list {
	display: flex;
	margin: 0;
	padding: 9px 21px 9px 14px;

	list-style: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.filters-fillers-item:not(:last-child) {
	margin-right: 20px;
}

label.filters-fat-radio,
label.filters-fillers-checkbox {
	position: relative;

	display: block;
	padding-left: 33px;
}

label.filters-fat-radio::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 1px;

	width: 15px;
	height: 15px;

	border: 4px solid rgba(238, 241, 239, 0.8);
	border-radius: 50%;

	transform: translateY(-50%);
}

input.filters-fat-radio:checked + label.filters-fat-radio::after {
	content: "";

	position: absolute;
	top: 50%;
	left: 8px;

	border: 4.5px solid rgba(238, 241, 239, 0.8);
	border-radius: 50%;

	transform: translateY(-50%);
}

label.filters-fat-radio:hover::before,
input.filters-fat-radio:focus + label.filters-fat-radio::before,
input.filters-fat-radio:checked + label.filters-fat-radio:hover::before,
input.filters-fat-radio:checked:focus + label.filters-fat-radio:hover::before,
input.filters-fat-radio:checked + label.filters-fat-radio:hover::after,
input.filters-fat-radio:checked:focus + label.filters-fat-radio::after {
	border-color: rgb(255, 255, 255);
}

label.filters-fillers-checkbox::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='rgba(238, 241, 239, 0.8)'><path d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/></svg>");

	position: absolute;
	top: 50%;
	left: 1px;

	width: 23px;
	height: 23px;

	transform: translateY(-50%);
}

label.filters-fillers-checkbox:hover::before,
input.filters-fillers-checkbox:focus + label.filters-fillers-checkbox::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='rgb(255, 255, 255)'><path d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/></svg>");
}

input.filters-fillers-checkbox:checked + .filters-fillers-checkbox::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='27' height='23' fill='rgba(238, 241, 239, 0.8)'><path d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/><path d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/></svg>");

	position: absolute;
	top: 50%;
	left: 1px;

	width: 27px;
	height: 23px;

	transform: translateY(-50%);
}

input.filters-fillers-checkbox:checked + label.filters-fillers-checkbox:hover::before,
input.filters-fillers-checkbox:checked:focus + label.filters-fillers-checkbox::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='27' height='23' fill='rgb(255, 255, 255)'><path d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/><path d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/></svg>");
}

.filters-form-button {
	align-self: flex-end;

	padding: 7px 27px 7px 27px;

	color: #ffffff;

  background-color: rgb(166, 183, 174);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;

  cursor: pointer;
}

.filters-form-button:hover,
.filters-form-button:focus {
	color: #323232;

	background-color: rgb(255, 255, 255);
}

.filters-form-button:active {
	padding: 9px 29px 9px 29px;
	color: #323232;

	background-color: rgb(237, 237, 237);
	border: none;
	box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.assortment {
	margin: 0 27px 37px;
}

.inner-page .assortment {
	margin-bottom: 0;
}

.assortment-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.inner-page .assortment-list {
	margin-bottom: 81px;
}

.assortment-item {
	position: relative;

	width: 267px;
	margin-bottom: 38px;
	margin-right: 26px;
}

.assortment-item:nth-child(4n),
.assortment-item:last-child {
	margin-right: 0;
}

.assortment-item:nth-last-child(-n+4) {
	margin-bottom: 0;
}

body:not(.inner-page) .assortment-item::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	width: 61px;
	height: 61px;

	background: url("../img/hit.svg");
}

.assortment-item::after {
	content: "";

	position: absolute;
	top: -1.84%;
	left: 50%;
	z-index: 1;

	width: 109.74%;
	height: 124.234%;

	display: none;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

	transform: translateX(-50%);
}

.assortment-image {
	font-size: 0;
}

.assortment-image img {
	position: relative;

	margin-bottom: 13px;

	vertical-align: middle;

	border-radius: 50%;
}

.assortment-price {
	position: absolute;
	top: 209px;
	left: 0;
	z-index: 2;

	font-size: 45px;
	line-height: 45px;

	text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);

	cursor: default;
}

.assortment-price span {
	font-size: 28px;
}

.assortment-title {
	position: relative;
	z-index: 2;

	margin: 0;
	padding: 0 5px;

	text-align: center;

	font-weight: 500;
}

.assortment-item .button {
	position: absolute;
	bottom: -16%;
	left: 10.551%;
	z-index: 4;

	display: none;
	background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104 ,67) 100%);
	box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
}

.assortment-item .button:hover,
.assortment-item .button:focus {
	box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.assortment-item .button:active {
	background-image: linear-gradient(to top, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.assortment-item:hover::after,
.assortment-item:hover .button {
	display: block;
}

.assortment-item:hover .assortment-image img {
	z-index: 2;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination-item {
	margin-right: 1px;
}

.pagination-prev,
.pagination-next {
	position: relative;

	width: 23px;

	font-size: 0;
}

.pagination-prev::before,
.pagination-prev::after,
.pagination-next::before,
.pagination-next::after {
	content: "";

	position: absolute;
	

	width: 8px;
	height: 1px;

	background-color: #ffffff;

	transform-origin: 100% 50%;
}

.pagination-prev::before {
	top: 45%;
	left: -33%;

	transform: rotate(135deg);
}

.pagination-prev::after {
	top: 45%;
	left: -33%;

	transform: rotate(-135deg);
}

.pagination-next::before {
	top: 45%;
	right: 0;

	transform: rotate(45deg);
}

.pagination-next::after {
	top: 45%;
	right: 0;

	transform: rotate(-45deg);
}

.pagination-item a {
	display: block;
	padding: 2px 9px;

	text-align: center;

	border-radius: 50%;
}

.pagination-item:not(.pagination-prev):not(.pagination-current):not(.pagination-next) a:hover,
.pagination-item:not(.pagination-prev):not(.pagination-current):not(.pagination-next) a:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:not(.pagination-prev):not(.pagination-current):not(.pagination-next) a:active,
.pagination-current a {
	color: #323232;

	background-color: rgb(255, 255, 255);
}

.pagination-disabled.pagination-prev::before,
.pagination-disabled.pagination-prev::after,
.pagination-disabled.pagination-next::before,
.pagination-disabled.pagination-next::after {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-disabled a,
.pagination-current a {
	cursor: default;
}

.features {
	width: 100%;
	max-width: 1092px;
	margin: 0 27px 40px;
	padding: 25px 33px 23px 21px;

	font-weight: 400;
	color: #323232;

	background-image: url("../img/wafer.jpg");
	background-position: 3.2% 1%;
	border-radius: 15px;
}

.features p {
	margin: 0;
	margin-bottom: 23px;
}

.features b {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-left: 55px;
	padding: 0;

	list-style: none;
}

.features-item {
	position: relative;
}

.features-item:nth-child(1) {
	order: -2;
	width: 477px;
	margin-bottom: 22px;
}

.features-item:nth-child(1)::before {
	content: "";

	position: absolute;
	top: -13px;
	left: -56px;

	width: 49px;
	height: 49px;

	background-image: url("../img/ice-cream.svg");
}

.features-item:nth-child(2) {
	width: 477px;
}

.features-item:nth-child(2)::before {
	content: "";

	position: absolute;
	top: -13px;
	left: -56px;

	width: 49px;
	height: 49px;

	background-image: url("../img/leaflet.svg");
}

.features-item:nth-child(3) {
	order: -1;
	width: 470px;
	margin-bottom: 22px;
}

.features-item:nth-child(3)::before {
	content: "";

	position: absolute;
	top: -13px;
	left: -58px;

	width: 49px;
	height: 49px;

	background-image: url("../img/cow.svg");
}

.features-item:nth-child(4) {
	width: 470px;
}

.news-distribution-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 27px 40px;
}

.features-item:nth-child(4)::before {
	content: "";

	position: absolute;
	top: -13px;
	left: -58px;

	width: 49px;
	height: 49px;

	background-image: url("../img/thermometer.svg");
}

.news {
	box-sizing: border-box;
	width: 560px;
	min-height: 174px;
	padding: 23px 260px 23px 19px;

	font-weight: 500;
	color: #323232;

	background-image: url("../img/strawberry.jpg");
	border-radius: 15px;
}

.news p {
	margin: 0;
	margin-bottom: 4px;
}

.news-item {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;

	color: #323232;
}

.news-item:hover,
.news-item:focus {
	color: #e84d37;
}

.distribution {
	width: 550px;
	padding: 5px;

	font-weight: 400;
	color: #5a5a5a;

	background-image: url("../img/postal-background.svg");
	border-radius: 15px;
}

.distribution-wrapper {
	width: 509px;
	min-height: 152px;
	padding: 29px 20px 29px 21px;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.distribution-wrapper p {
	margin: 0;
	margin-bottom: 35px;
}

.distribution-email {
	width: 368px;
	margin-right: 8px;
}

.distribution-form .button {
	padding: 10px 19px;

	vertical-align: baseline;
}

.contacts {
	position: relative;
}

.contacts-info {
	position: absolute;
	top: 61px;
	right: 27px;

	width: 252px;
	padding: 28px 25px;

	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #323232;

	background-color: #fefefe;
	border-radius: 15px;
}

.contacts-info p {
	margin: 0;
	margin-bottom: 18px;
}

.contacts-info p:nth-child(1) span {
	width: 148px;
}

.contacts-info p:nth-child(2) {
	margin-bottom: 23px;
}

.contacts-info p:nth-child(2) b {
	display: block;
	margin-top: 3px;
}

.contacts-info b {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts-info span {
	display: block;

	line-height: 22px;
}

.contacts-info .button {
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0;
}

.contacts-map {
	width: 100%;

	vertical-align: middle;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	margin: 0 27px;
	padding-top: 18px;
	padding-bottom: 23px;
}

.inner-page .main-footer {
	margin-top: 30px;
}

.footer-social {
	width: 185px;
	margin: 16px 0 12px 0;
}

.footer-social-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-social-button {
	display: flex;

	font-size: 0;

	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.footer-social-button:hover,
.footer-social-button:focus,
.footer-social-button:active {
	border-color: rgba(255, 255, 255, 0.7);
} 

.footer-social-button:active path {
	fill: #e9e9e9;
}

.footer-info {
	width: 304px;
	margin: 14px 0 12px 5px;

	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.footer-info-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-info-item:nth-child(1) {
	order: -2;
	margin-bottom: 4px;

	font-weight: 700;
}

.footer-info-item:nth-child(3) {
	order: -1;
	margin-bottom: 4px;
}

.footer-info-link {
	position: relative;

	display: block;
}

.footer-info-item:nth-child(3) .footer-info-link {
	margin-right: 55px;
}

.footer-info-link:hover,
.footer-info-link:focus,
.footer-info-link:active {
	color: #ffbc9e;
}

.footer-info-item:nth-child(1) .footer-info-link::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='15' height='13'><path fill='%23ffffff' d='M10.799 0c-1.35 0-2.551.65-3.3 1.661A4.097 4.097 0 0 0 4.199 0C1.875 0 0 1.806 0 4.044 0 7.223 7.499 13 7.499 13s7.499-5.777 7.499-8.956C14.998 1.806 13.123 0 10.799 0z'/></svg>");

	position: absolute;
	top: 3px;
	left: -22px;

	width: 15px;
	height: 13px;
}

.footer-info-item:nth-child(1) .footer-info-link:hover::before,
.footer-info-item:nth-child(1) .footer-info-link:focus::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='15' height='13'><path fill='%23ffbc9e' d='M10.799 0c-1.35 0-2.551.65-3.3 1.661A4.097 4.097 0 0 0 4.199 0C1.875 0 0 1.806 0 4.044 0 7.223 7.499 13 7.499 13s7.499-5.777 7.499-8.956C14.998 1.806 13.123 0 10.799 0z'/></svg>");
}

.footer-copyright {
	margin-bottom: 6px;

	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.footer-copyright-logo {
	font-size: 0;
}

.footer-copyright-logo img {
	margin-bottom: 3px;

	vertical-align: middle;
}

.footer-copyright p {
	margin: 0;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus,
.footer-copyright-link:active {
	color: #ffbc9e;
}

.modal-feedback {
	position: fixed;
	top: 338px;
	left: 50%;

	display: none;
	width: 478px;
	margin-left: -239px;
}

.modal-close {
	position: absolute;
	top: 16px;
	right: 17px;

	width: 20px;
	height: 19px;

	font-size: 0;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 6px;
	left: 2px;

	width: 22px;
	height: 3px;

	background-color: #231f20;
	border-radius: 30%;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal {
	display: none;
}

.modal-feedback h3 {
	margin: 0;
	margin-bottom: 23px;

	font-size: 24px;
	line-height: 28px;
	color: #323232;
}

.modal-feedback-name,
.modal-feedback-email {
	width: 267px;
}

.modal-feedback-comment {
	width: 100%;
	min-height: 155px;
	margin-bottom: 25px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

* {
	outline: 1px solid red;
}
